* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.profile-cards {
  margin: 100px 100px;
}

.profile {
  display: flex;
  height: 300px;
  width: 800px;
  border: 1px solid black;
  border-radius: 20px;
  /* overflow: hidden; */
  padding-left: 60px;
  background-color: #1a1e21;
}

.profile-pic img {
  height: 100%;
  width: 230px;
  transform: scale(1.2);
  border-radius: 20px;
  margin-right: 20px;
}

.profile-info {
  text-align: center;
  width: 500px;
  background-color: #1a1e21;
  border-radius: 20px;
}

.name {
  /* color: #014483; */
  color: #678fb5;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: all 0.2s;
  border-radius: 20px;
}

.name:hover {
  color: #00ccffd2;
  cursor: pointer;
}

.location {
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.btn {
  background-color: #47425d;
  color: white;
  padding: 7px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: #2c293b;
  cursor: pointer;
}

.description {
  line-height: 1.8;
  margin: 20px;
}
