
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap");
body {
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 14.4px;
  color: #37445a;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  -webkit-box-shadow: 0 2px 12px 6px rgba(55, 68, 90, 0.04);
          box-shadow: 0 2px 12px 6px rgba(55, 68, 90, 0.04);
}

html {
  background-color: #37445a;
  background: url("../images/body-bg.jpg");
  background-size: cover;
}

a, a:hover {
  text-decoration: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #37445a;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.row > * {
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.bg-info {
  background-color: #00B4D8 !important;
}

.bg-soft-info {
  background-color: rgba(0, 180, 216, 0.1) !important;
}

.text-info {
  color: #00B4D8 !important;
}


.bg-warning {
  background-color: #ffd455 !important;
}

.bg-soft-warning {
  background-color: rgba(255, 212, 85, 0.1) !important;
}

.text-warning {
  color: #ffd455 !important;
}

.uim-icon-warning .uim-svg {
  fill: #ffd455 !important;
}

.bg-danger {
  background-color: #D1495B !important;
}

.bg-soft-danger {
  background-color: rgba(209, 73, 91, 0.1) !important;
}

.text-danger {
  color: #D1495B !important;
}

.uim-icon-danger .uim-svg {
  fill: #D1495B !important;
}

.bg-dark {
  background-color: #37445a !important;
}

.bg-soft-dark {
  background-color: rgba(55, 68, 90, 0.1) !important;
}

.text-dark {
  color: #37445a !important;
}


.bg-muted {
  background-color: #99a1a9 !important;
}

.bg-soft-muted {
  background-color: rgba(153, 161, 169, 0.1) !important;
}

.text-muted {
  color: #99a1a9 !important;
}

.uim-icon-muted .uim-svg {
  fill: #99a1a9 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-soft-white {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.text-white {
  color: #ffffff !important;
}

.uim-icon-white .uim-svg {
  fill: #ffffff !important;
}

.bg-light {
  background-color: #f6f8fb !important;
}

.bg-soft-light {
  background-color: rgba(246, 248, 251, 0.1) !important;
}

.text-light {
  color: #f6f8fb !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-soft-black {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.text-black {
  color: #000000 !important;
}

.h1, h1 {
  font-size: 36px;
}

.h2, h2 {
  font-size: 30px;
}

.h4, h4 {
  font-size: 18px;
}

.h5, h5 {
  font-size: 14px;
}

.h6, h6 {
  font-size: 12px;
}

.footer-list li a {
  color: #99a1a9 !important;
}

.footer-list li a:hover {
  color: #0466c8 !important;
}

.social-circle li a {
  height: 34px;
  width: 34px;
  color: rgba(255, 255, 255, 0.9) !important;
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-circle li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff !important;
}


.navbar-brand {
  margin-left: 80px;;
}

.navbar-brand img {
  width: 200px;

}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.button1{
  color:white;
  background-color:#47425D;
  padding: 5px;
  border-radius: 5px;
  border: none;
  transition-duration: 0.5s;
  
  
  }
  .button1:hover{
  background-color: #2c293b;
  }
  .card{
  border: 1px solid darkgrey;
  }
  .card-title{
  color: #014483;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.2s;
  }
  .card-title:hover{
  color: #0084ff;
  }
  .button{
  background-color:#47425D;
  color: white;
  transition-duration: 0.5s;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  }
  .card-title {
  text-align: center;
  }
  .button:hover {
  background-color: #2c293b;
  }
  
  .card-text {
  text-align: center;
  }
  
  .location {
  font-size: small;
  text-align: center;
  color: black;
  text-decoration: none;
  
  }
  
  .location:hover {
  text-decoration: underline;
  color:#0084ff;
  }
  .container{
  text-align: center;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }